body{
    margin:0px;
    padding: 0px;
    background-color: aqua;

}

navbar{
    display: flex;
    justify-content: space-between;
    background-color:aqua;
    align-items: center;
}
.nav-left{
    font-size:30px;
    font-weight:bold;
    color: crimson;
}
.nav-right{
    display: flex;
    gap: 20px;
    color: crimson;
}
.nav-right span{
    font-size:  20px;
    font-weight:bold;
}
.nav-right span:hover{
    cursor:grabbing;
    text-decoration:underline;
}
.projects-section{
    height:400px;
    margin:20px;
    /*border:1px solid green;*/
    display:flex;
    padding:20px
}
.project-card{
    display:flex;
    height:100%;
    width:100%;
    /*border:1px solid red;*/
}
.project-image{
    width:50%;
    height:100%;
    /*border:1px solid blue;*/
    justify-content:space-around;
    align-items:left;
}
.project-desc{
    width:50%;
    height:100%;
    /*border:1px solid yellowgreen;*/
    justify-content:space-around;
    text-align:center;
}