body{
    font-family: Arial;
    background:#0f4c5c;
    color:white;
    text-align:center;
    justify-content: center;
}

.container{
        margin-top:120px
}

h1{
    font-size:40px;
    margin-bottom:20px;
}

.btn{
    background:#ffd60a;
    padding:12px 25px;
    text-decoration:none;
    color:black;
    font-weight:bold;
    border-radius:6px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:white;
}